body{
  text-align: center;
}

.message-box {
  background-color: lightcyan;
  border: 1px solid black;
  margin-left: 200px;
  margin-right: 200px;
  width: auto;
  height: 40px;
}

.dict-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.wordslist {
  background-color: bisque;
  border: 1px solid black;
  margin-left: 200px;
  margin-right: 200px;
  width: auto;
  height: 100px;
}